
@{
    ViewData["Title"] = "Index";
}

<h1>Index view from Home Controller</h1>
<h1>Current Date Time: @DateTime.Now</h1>
<h1>Current Year: @DateTime.Now.Year</h1>


@{
    var name = "Prerak";
    var age = 22;
}

<h1>Name = @name</h1>
<h1>Age = @age</h1>


@* We can use variables, loops, Conditional statements, etc in this file......... *@