
@{
    ViewData["Title"] = "Index";
    // Layout = @"/Views/Shared/_Layout.cshtml";
    // Layout = @"/Views/Shared/_Layout2.cshtml";
    Layout = null;
}

<h1>Index Page</h1>
<h1>This is Home Page</h1>


@* @{
    var name = "Prerak";
    var age = 22;
}

<h1>Name = @name</h1>
<h1>Age = @age</h1>


We can use variables, loops, Conditional statements, etc in this file.........  *@